.error {
  position: absolute;
  inset: 78px 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #545050;
  width: 711px;
  height: 386px;
  object-fit: cover;
  max-width:100%;
}

.error__title {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  letter-spacing: 0.02rem;
  word-wrap: .05rem;
  line-height: 110%;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-stretch: condensed;
}
