*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  display: flex;
  justify-content: center;
}

.page {
  margin: 135px auto;
  max-inline-size: 1200px;
  max-block-size: 800px;
  color: #fff;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: grid;
  grid: 800px / 1200px;
  height: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.button {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #fff;
  box-sizing: border-box;
  appearance: none;
  block-size: 34px;
  cursor: pointer;
  padding: 0;
}

.content {
  margin: 0 auto;
  grid-row-start: 1;
  grid-column-start: 1;
  max-inline-size: 1140px;
  max-block-size: 534px;
  display: grid;
  grid: 534px / 711px 399px;
  column-gap: 30px;
  grid-template-areas: "video details";
}

.result {
  grid-area: video;
}

.result__video-container {
  display: flex;
  margin: 78px 0 15px;
  position: relative;
  block-size: 386px;
  inline-size: 711px;
}

.result__video {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  inline-size: 711px;
  align-items: start;
}

.search-form__fieldset {
  border: none;
  vertical-align: bottom;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-block: 2px 3px;
}

.search-form__textfield {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  min-inline-size: 225px;
  min-block-size: 27px;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield::placeholder {
  font-size: 18px;
  word-spacing: -2px;
  color: rgba(255, 255, 255, 0.7);
}

.search-form__label {
  display: flex;
  margin-bottom: 5px;
  gap: 5px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 3px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  inline-size: 18px;
  block-size: 18px;
  position: relative;
  top: 2px;
  outline: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
  outline-offset: 3px;
  position: absolute;
  left: 1.5px;
  top: 1.5px;
}

.search-form__submit-button {
  inline-size: 194px;
  align-self: flex-end;
  margin: 4px 0;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
  padding: 1px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:focus {
  outline: none;
}

.content__details {
  grid-area: details;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.title {
  display: inline-block;
  line-height: 94%;
  font-size: 75px;
  font-weight: 700;
  inline-size: fit-content;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  margin-top: 2px;
}

.content__accent {
  color: #545050;
  padding-top: 1px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
  box-sizing: border-box;
}

.content__video-card-description-container {
  flex-grow: 1;
  gap: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 183px;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;
  font-weight: 400;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
}

.content__video-card-thumbnail {
  block-size: 103px;
  inline-size: 194px;
  object-fit: cover;
  object-position: center;
  align-self: center;
}

.content__video-card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1;
}

.content__video-card {
  display: flex;
  padding: 2px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 0;
  appearance: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.more-button {
  inline-size: 100%;
 /*  margin: 4px 0; */
}

.pixel-perfect-image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  filter: sepia(0.6);
  width: 100%;
  height: 100;
}
